.form-container {
  width: 100%;
  max-width: 1600px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
}

.form-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #ffffff;
}

/* Form and Image Layout */
.form-content {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 20px;
  width: 100%;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1;
  padding: 20px;
  background-color: #1e1e1e;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 500px;
  background-color: #1e1e1e;
  border-radius: 8px;
}

.form-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  border: 2px solid #ffffff;
}

.input,
.select,
.date {
  padding: 10px;
  font-size: 1rem;
  border: 2px solid #1e1e1e;
  border-radius: 5px;
  background-color: #1e1e1e; 
  color: #ffffff;
  width: 100%;
}

.input::placeholder,
.select::placeholder {
  color: #ffffff; 
}

.checkbox-container {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #ffffff;
}

.button {
  padding: 6px 3px; 
  font-size: 0.85rem; 
  background-color: #DA0037;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s;
  width: auto; 
}

.button:hover {
  background-color: #BE3144;
}


.react-select__control {
  background-color: #1e1e1e !important;
  border: 2px solid #DA0037 !important;
  color: #ffffff !important;
  border-radius: 5px;
  padding: 5px;
}

.react-select__control--is-focused {
  border-color: #BE3144 !important;
}

.react-select__placeholder,
.react-select__single-value {
  color: #ffffff !important;
}

.react-select__menu {
  background-color: #1e1e1e !important;
  border: 2px solid #DA0037 !important;
}

.react-select__option,
.react-select__multi-value {
  background-color: #1e1e1e !important;
  color: #ffffff !important;
}

.react-select__option--is-selected,
.react-select__multi-value__label {
  background-color: #1e1e1e !important;
  color: #ffffff !important;
}
