/* ArtistDetailsPage.css */

/* Header Section */
header {
    background-color: var(--SecundarioIntermedio-color);
    color: var(--Secundariogris-color);
    padding: var(--spacing-large);
    font-weight: bolder;
    text-align: center;
    position: relative;
  }
  
  /* Back Arrow Button Style */
  .back-button-artDet {
    width: 50px;
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: var(--SecudandarioOscuro-color);
    color: var(--Secundariogris-color);
    border: none;
    
    padding: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .back-button-artDet:hover {
    background-color: var(--SecundarioRojo-color);
  }
  
  header h1 {
    font-family: var(--primary-font);
    font-size: 3rem;
    margin: 0;
  }
  
  header p {
    margin: var(--spacing-small) 0 0;
    font-family: var(--secondary-font);
    font-size: 1.2rem;
  }
  
  /* Main Content */
  main {
    max-width: 800px;
    margin: var(--spacing-medium) auto;
    padding: var(--spacing-large);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: var(--SecudandarioOscuro-color);
    color: var(--Secundariogris-color);
  }
  
  /* Profile Picture */
  .profile-pic-details {
    text-align: center;
    margin-bottom: var(--spacing-large);
  }
  
  .profile-pic-details img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
    border: 3px solid var(--rojo-color);
  }
  
  /* Section Titles */
  section h2, h3 {
    font-family: var(--primary-font);
  
    margin-bottom: var(--spacing-medium);
    color: var(--intermedio-color);
  }
  
  /* Paragraph Text */
  section p {
    line-height: 1.6;
    font-family: var(--secondary-font);
    font-size: 1.1rem;
    color: var(--Secundariogris-color);
    margin-bottom: var(--spacing-medium);
  }
  
  /* Footer */
  footer {
    text-align: center;
    margin-top: var(--spacing-large);
    padding: var(--spacing-medium);
    background-color: var(--SecundarioIntermedio-color);
    border-top: 1px solid var(--gris-color);
  }
  
  footer p {
    margin: 0;
    font-family: var(--secondary-font);
    font-size: 1rem;
    color: var(--gris-color);
  }

  /* Back Button Style */
.back-button {
    background-color: var(--rojo-color);
    color: var(--Secundariogris-color);
    font-family: var(--secondary-font);
    font-size: 1.1rem;
    padding: var(--spacing-small) var(--spacing-medium);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: var(--spacing-medium);
    transition: background-color 0.3s ease;
  }
  
  .back-button:hover {
    background-color: var(--SecundarioRojo-color);
  }

  .nombreArt {

    color: var(--rojo-color);
    font-weight: bold;
  }

  .contenedorMinigaleria {
    
    display: flex;
    flex-direction: column;
  }
  .contenedorBotones{
    display: flex;
    flex-direction: row;
  }
  .contenedorMinigaleria button {
    width: 50px;
  }