


.widget-container {
  position: fixed;
  bottom: 80px;
  right: 20px;
  z-index: 1000;
  padding-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-container {
  margin-top: 50px;
  width: 520px;
  height: 780px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}

.header {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2F8D46;
  color: white;
  border-radius: 10px 10px 0 0;
}

.messages {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message {
  padding: 10px;
  border-radius: 10px;
  max-width: 70%;
  background-color: #e5e5ea;
  color: black;
  margin: 5px 0;
}

.input-container {
  display: flex;
  border-top: 1px solid #ccc;
  padding: 10px;
}

.input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.send-button {
  padding: 10px;
  background-color: #2F8D46;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.send-button:hover {
  background-color: #0056b3;
}
