.contenedorAsideAdmin {
    margin-top: 10px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 30% 70%;
    height: 80%;
    justify-content: center;
    align-content: center;
    background-color: var(--gris-color);
    border-radius: 3px;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
}

.contenedorLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.ToILogo {
    max-width: 100%;
    height: auto;
    padding: 10px;
    margin: 10px auto;
    background-color: var(--oscuro-color);
}

.contenedorContenido{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--oscuro-color);
}