.contenedorBarraTitulo {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: var(--gris-color);
border-radius: 3px;
}

.titulo {
    font-weight: bold;
    font-size: larger;
    font-family: var(--primary-font);
    color: var(--oscuro-color);
}