.footer {
  background: url('../assets/Tattoo_footer.jpg') no-repeat center center/cover;
  padding: 10px 0;
  color: white;
  background-color: #222;
  width: 100vw;
  text-align: center;
  box-sizing: border-box;
  overflow-x: hidden;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
  overflow-x: hidden;
}

.footer-column {
  flex: 1;
  min-width: 200px;
  padding: 10px;
}

.footer-column h3 {
  font-size: 16px;
  margin-bottom: 10px;
  text-align: center;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin-bottom: 5px;
}

.footer-column ul li a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.footer-column ul li a:hover {
  text-decoration: underline;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-icons li {
  list-style: none;
}

.social-icons li a {
  font-size: 24px;
  color: white;
  text-decoration: none;
}

.social-icons li a:hover {
  color: #DA0037;
}

.footer-copyright {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  margin-top: 20px;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  font-size: 12px;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

*, *::before, *::after {
  box-sizing: border-box;
}
