/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedorLayout {
    position: relative;
    min-width: 100vw;
    height: 100vh;
    background-color: var(--SecudandarioOscuro-color);
}

.distribucionContenido {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 100px 6fr;
    background-color: var(--SecudandarioOscuro-color);
}

/* Contenedor Aside */
.contenedorAside {
    min-height: 900px;
    grid-column: 1/2;
    grid-row: 1/7;
}

/* Barra de título */
.contenedorBarraTitulo {
    margin-left: 15px;
    grid-column: 2/4;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contenido principal */
.contenedorContenidoPagina {
    min-width: 300px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

/* Media Query para pantallas pequeñas */
@media (max-width: 500px) {
    .distribucionContenido {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }

    .contenedorAside {
        display: none; /* Oculta el contenedor Aside */
    }

    .contenedorBarraTitulo {
        grid-column: 1/2;
        margin-left: 0;
    }

    .contenedorContenidoPagina {
        width: 100%;
        margin: 0;
        flex-wrap: nowrap;
        justify-content: center;
    }
}
