.contenedorContenidoPagina {
    width: 100%;
    margin: 0; /* Eliminar márgenes adicionales */
    padding: 0; /* Eliminar rellenos */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; /* Asegura que los elementos estén alineados al inicio */
    overflow-x: hidden; /* Asegura que no haya desbordamiento horizontal */
}
