.contenedorContenidoPagina {
    width: 100%;
    margin: 0 10px 0 0; /* Margen derecho de 10px */
    padding-top: 20px; /* Asegura que no haya padding interno */
    margin-left: -30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-x: hidden;
    margin-top: 120px; /* Margen superior */
    box-sizing: border-box;
}
